/* Variables */
:root{
    --bg:#F7F7F8;
    --bg-producto:#E6E6E6;
    --bg-descripcion:#FFFFFF;
    --bg-header:#F7F7F8;
    --h-header:70px;
    --white: white;
    --color-leter:black;
    --black:black;
    --color-footer:#E6E6E6;
    --color-fot2:#E94959;
    --bg-dark:#1F1D2A;
    --img-newcolecdark:#9ADDE0;
    --cardark:#1B1A23;
}
/* Universales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: var(--h-header);
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: var(--bg);
    color: var(--color-leter);
}
.bodydark{
    --bg:var(--bg-dark);
    color: var(--white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
li{
    list-style: none;
    font-size: 1rem;
}
/* header */
nav ul{
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 150px;
}
nav ul li{
    font-size: 1.3rem;
    cursor: pointer;
}
header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--h-header);
    z-index: 100;
    transition: padding 0.8s;

}
header>nav{
    max-width: 1024px;
    background-color:transparent;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: var(--h-header);
}
.navdark{
    color: white;
}
header>nav>i{
font-size: 3rem;
cursor: pointer;
position: absolute;
right: 1rem;
}
header>nav div{
    display: flex;
    width: 105px;
    height: 50%;
    background-color:transparent;
    position: absolute;
    left: 1rem;
    bottom: 25%;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
   
}

header>nav div img{
width: 35px;
}
.canti{
    width: 25px;
    height: 25px;
    background-color:var(--black);
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    right: 0.8rem;
    bottom: 10%;
    cursor: pointer;
    color: var(--white);
    text-align: center; 
}
.cantidark{
    background-color: var(--white);
    color: var(--black);
}
.bx-moon{
    position: absolute;
    right: 5rem;
    align-items: center;
    font-size: 2rem;
}
.bx-sun{
    position: absolute;
    right: 5rem;
    align-items: center;
    font-size: 2rem;
}
.darkmodeoff{
    display: none;
}
.adrk{
    color: var(--white);
}

/* --Fin header */


/* home */
.home{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color:var(--bg);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0;
    gap: 1rem;
    min-height: 80vh;
}
.homedark{
    background-color: var(--bg-dark);
}
.newcolec{
    background-color:var(--bg);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem;
    flex-direction: column;
    text-align: left;
}
.newcolecdark{
background-color: var(--bg-dark);
}
.newcolec:nth-child(1){
    font-size: 1.5rem;
}

.newcolec h2{
    font-size: 3rem;  
}
.newcolec a{
    text-decoration: none;
    padding: 1rem 2rem;
    background-color:var(--black);
    color: var(--white);
    font-size: 1rem;
}
.filtro .mixitup-control-active{
    background-color: black;
    color: white;
}
.imgnewcolec{
    background-color:var(--color-fot2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 1rem; 
}
.imagenewcolecdark{
    --color-fot2:var(--img-newcolecdark);
}
.imgnewcolec img{
    width: 100%;
    display: block;
}

/* Fin home */


/* productos */
.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    overflow: hidden;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 1024px;
    padding: 2rem 2rem;
    background-color: var(--bg);
    scroll-behavior: smooth;
}
.productosdark{
    background-color: var(--bg-dark);
}
.producto{
    background-color:var(--bg-producto);
    padding: 1rem;
    text-align: center;
    position: relative;
    width: 100%;
}
.producto img{
transition: transform 0.5s;
}
.producto img:hover{
    transform:translateY(-0.8rem);
}
.descripcion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color:var(--bg-descripcion);   
    padding: 1.5rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.descripciondark{
    background-color: #1B1A23;
    color: var(--white);
}

.backdroundark{
    background-color: var(--black);
}
.descripcion a{
    text-decoration: none;
    transition: color .7s;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.descripcion a:hover{
    color: red;
}

.container_producto{
    border-radius: 1rem;
    overflow: hidden;
    background-color:var(--bg-descripcion);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container_productodark{
    background-color:#1B1A23;
    
}
.descripcion h3 span{
    color: #8C8C8C;
    font-size: 1rem;
    margin-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descripcion h3{
    font-size: 1.2rem;
    color: var(--color-leter);
    font-weight: bold;
}
.blanco{
    color: var(--white);
}
.blanco1{
    --color-leter:var(--white);
}
.containerProdusctos{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1024px;
    padding: 1rem;
}
.filtro{
   display: grid;
   justify-content: center;
   gap: 1rem;
   grid-template-columns: 150px 150px 150px 150px;
}
 .shirt, .all,.shirt,.hoddie,.sweater{
    border: none;
    font-size: 1.5rem;
    transition:background-color 0.9s ;
    cursor: pointer;
    background-color: var(--bg);
}
.filtro  .f1{
    background-color: var(--black);
    color: var(--white);
    transition: none;
}
.filtro .shirt:hover{
    background-color: var(--color-leter);
    color: var(--white);
}
.filtro .all:hover{
    background-color: var(--color-leter);
    color: var(--white);
}
.filtro .sweater:hover{
    background-color: var(--color-leter);
    color: var(--white);
}
.filtro .hoddie:hover{
    background-color: var(--color-leter);
    color: var(--white);
}
.container{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100vh 1fr 80vh;
}
.descripcion .bx-plus{
    background-color:var(--white);
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    font-size: 2.5rem;
    right: 1rem;
    top: -1.7rem;
    color: var(--color-leter);
    transition: background-color 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.descripcion .bx-plus:hover{
    background-color: red;
    color: var(--white);
    cursor: pointer;
}
.agotado{
    font-size: 2rem;
    transform: rotate(-45deg);
    justify-content: center;
    z-index: 50;
    position: absolute;
    top: 50%;
    color: red;
    font-weight: bold;
}
/* Fin productos */

/* footer */
footer{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    background-color:var(--color-footer);
    padding: 80px 32px;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;  
}
.footerdark{
    background-color: var(--black);
}
.fot1{
    justify-content: space-between;
    padding: 0 28px;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}
footer p{
    color: green;
}
.fot2{
    text-align: center;
    background-color:var(--color-fot2);
    padding: 1rem;
    color: var(--white);
}

/* Fin footer */

/* Carrito */
.cart-com{
    width: 500px;
    height: 100vh ;
    background-color:var(--bg-descripcion);
    position: fixed;
    top:0;
    right: -100%;
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    transition: right 0.4s;
    z-index: 400;
}

.cart-comdark{
    --bg-descripcion: var(--cardark);
}
.producSelec{
    background-color: var(--bg-descripcion);
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    margin-top: 1rem;
}
.producSelecdark{
    background-color: var(--cardark);
}
.comparProduc{
    background-color:var(--bg-descripcion);
    width: 100%;
    height: 20%; 
}
.cart{
    position: relative;
    width: 100%;
}
.mostrar{
    right: 0;
}
.prodaComp{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.cart-image{
    border: 1px solid white ;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--bg);
}
.producs{
    background-color: var(--white);
    color: var(--black);
}
.producs p{
    background-color: var(--white);
    color: var(--black);
}
.cart-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 0.2rem;
    align-items: left;
    justify-content: center;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
.bx-minus{
    cursor: pointer;
}
.bx-plus{
 cursor: pointer;   
}
.bx-trash{
   cursor: pointer; 
}
.comparProduc{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: var(--white);
}
.comparProduc p{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}
.comparProduc>p span{
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.compra{
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: black;
    color: var(--white);
    transition: background-color .4s;
    cursor: pointer;
}
.compra:hover{
    background-color: rgb(1, 252, 1);
    color: black;
}
.ff{
    font-family: 'Roboto', sans-serif;
    text-align: end;
}
.pdark{
    background-color:--cardark;
    color: var(--white);
}
.m{
    margin-bottom: 1.5rem;
}


.about,.info,.social{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.social div{
    font-size: 2rem;
}

.prod{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cerrar{
    color: var(--black);
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.cerrardark{
    color: var(--white);
}

.anima-headr{
    background-color: var(--white);
    padding-top: 10px;
    height: calc(var(--h-header) + 10px) ;    
}
.anima-headrdark{
    background-color: var(--bg-dark);
    padding-top: 10px;
    height: calc(var(--h-header) + 10px) ;    
}
a{
    text-decoration: none;
    color: var(--black);
}
/* Fin carrito */

/* otros */

/* scroll general */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
/* ventana modal */
.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000090;
    z-index: 300;
    position: fixed;
    top: 0;
}
.mostrarmodal{
    display: none;  
}

.contmodal{
    width: 35%;
    min-width: 250px;
    background-color: var(--white);
    border-radius: 1rem;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgb(36, 37, 37) 0px 30px 40px 5px;
}
.contmodaldark{
    background-color: var(--cardark);
}
.plus-modal{
    display: flex;
    background-color: var(--black);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition:background-color 0.4s ;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rojo{
    color:red
}
.plus-modal:hover{
    background-color: red;
}
.momal-img{
    position: relative;
}
.momal-img .bx-x{
    position: absolute;
    right: -1rem;
    top: -1rem;
    font-size: 2rem;
    cursor: pointer;
}
.modal-info b{
    display: flex;
    gap: 1rem;
}

.modal-info h4{
color:#b4b3b3;
font-family: serif;
}
.modal-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    text-align: center;
    padding: 1rem 0rem;
}
.modal-info div b{
    font-size: 1.3rem;
}   
.modal-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
}
.bx-menu{
    display: none;
    position: absolute;
}
.bx-menu .cierraaa{
    display: none;
}
.menuu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    background-color:var(--white);
    transition: right 0.5s;
    z-index: 300;
}
.menuudar{
    background-color: var(--cardark);
    color: white;
}
.menuu .cerrarmenu{
    position: absolute;
    right: 1.2rem;
    top: 1.8rem;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 1rem;
}
.menuu .canti{
    position: absolute;
    right: 3.5rem;
    top: 2.7rem;
    cursor: pointer;
    text-align: center; 
    font-size: 0.9rem;
    width: 22px;
    height: 22px;
}
.menuu .bx-cart{
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    font-size: 2.3rem;
    cursor: pointer;
}
.mostrarmenu{
    right: 0;
}
@keyframes loading{
    0% {
        transform: translateY(15);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15);
    }
}
.load{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2000;
    color: red;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s,visibility 1s;
}
.load svg {
    fill: red;
    width: 100%;
    height: 100%;
}
.animaload{
    width: 150px;
    height: 150px;
    position: relative;
    animation: mymove 1.5s infinite;
  }
  
  @keyframes mymove {
    0%   {transform: translateY(-100px);}
    50%  {transform: translateY(0px)}
    100%  {transform: translateY(-100px)}
  }

  .cierraload{
    opacity: 0;
    visibility: hidden;
  }
/* ---Fin scroll general */

/* Condicionales */
@media (max-width:900px){
    .productos{   
        grid-template-columns: 1fr 1fr;       
    }
}

@media(max-width:700px){
    .container{
        grid-template-rows: 100vh 1fr 120vh;
        gap: 3rem;
    }
    .home{
        background-color:var(--bg);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        gap: 1rem;
        min-height: 80vh;
    }
    .newcolec{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content:start ;
        align-items: start;
        padding: 1rem 2rem;
        
    }
    .imgnewcolec{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 50vh;
    }

    .fot1{
        flex-direction: column;
    }
    .about,.info,.social,.prod{
        margin-bottom: 2rem;
    }
    .m{
        margin: 0;
    }
    nav ul{
        display:none;
    }
    .bx-cart{
        position: absolute;
        right: 4.6rem;
        font-size: 2rem;
    }
    .bx-moon{
        right: 7rem;
        font-size: 1.7rem;
    }
    .canti{
        right: 4.2rem;
        font-size: 0.9rem;
        width: 22px;
        height: 22px;
        bottom: 15%;
    }
    .bx-menu{
        display: block;
        position: absolute;
        right: 2rem;
        font-size: 1.5rem;
    }
    .cart-com{
        width: 100%;
        height: 100%;
    }

    .filtro{
        justify-content: center;
        grid-template-columns: 150px 150px;
        gap: 0;
    }

    .containerProdusctos{
        grid-template-rows: 100px 1fr;
    }
    .filtro .shirt,.filtro .all,.filtro .shirt,.filtro .hoddie,.filtro .sweater{
        padding: 1rem 0;
    }
    .bx-sun{
        right: 7rem;
        font-size: 1.7rem;
    }
    footer{
        margin: 0;
        padding: 2rem;
    }

}

@media(max-width:630px){
   .productos{
    grid-template-rows: repeat(1fr);
    grid-template-columns:400px;
    margin: 0 auto;
    padding: 2rem;
    
   }
   .productos img{
    width: 350px;
    display: block;
   }
   
   .containerProdusctos{
    align-content: center;
    align-items: center;
    margin: 0 auto;
   } 
   .producto{
    margin: 0 auto;
   }

    footer{
        padding: 2rem 2rem 6rem 2rem;
    }
   
}

@media (max-width:537px){
    .container{
        grid-template-rows: 100vh 1fr 130vh;
    }
}
@media (max-width:490px){
    .productos{
        grid-template-rows: repeat(1fr);
        grid-template-columns:300px;
        margin: 0 auto;
        padding: 1.3rem;
        
       }
       .productos img{
        width: 230px;
        display: block;
       }
       .container{
        gap: 8rem;

    }
   
}
@media (max-width:410px){
    .productos{
        grid-template-rows: repeat(1fr);
        grid-template-columns:250px;
        margin: 0 auto;
        padding: 1.3rem;
        
       }
       .productos img{
        width: 90%;
        display: block;
        object-fit: cover;
       }
       .container{
        gap: 8rem;

        }
        .containerProdusctos{
            padding: 0;
            margin: 0;
        }
        .filtro{
            justify-content: center;
            grid-template-columns: 100px 100px;
            gap: 0;
        }
          .shirt, .all,.shirt,.hoddie,.sweater{
             border: none;
             font-size: 1rem;
             transition:background-color 0.9s ;
             cursor: pointer;
             background-color: var(--bg);
         }
}
/* -----Fin condicionales */